<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Joel Hilton Film Collection</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="GetToKnowJoel">Get to Know Joel</a></li>
                <li><a asp-controller="Movies" asp-action="AddMovie">Add a Movie</a></li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Movies" asp-action="MovieList">View Movies</a>
                </li>

            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
